.weui-tabbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%
}

#rec_nav {
    display: flex;
    text-align: center;
    width: 100%;
    font-size: 0.667rem;
}

#rec_nav a {
    padding: 1.5em 0 1em;
    display: block;
    flex: 1;
    color: #000;
}

.recn_ico {
    width: 50%;
    height: 0;
    padding-top: 50%;
    font-size: 18px;
    color: #bb2c08;
    border: 1px solid #bb2c08;
    border-radius: 50%;
    margin: 0 auto 0.5em;
    font-weight: 100;
    position: relative;
    line-height: 0;
    overflow: hidden;
    box-sizing: content-box;
}

.recn_ico span {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    width: 100%;
    left: 0;
}

.recn_ico img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#album_loading {
    text-align: center;
    color: #999;
    padding: 2em 0;
}

#album_loading img {
    width: 12%;
    animation: circle infinite 1.5s linear;
    display: block;
    margin: 1em auto;
    border-radius: 50%;
    border: 1px solid #999;
}

.fixedtab {
    position: fixed;
    width: 100%;
    top: 40px;
    z-index: 10;
    max-width: 750px;
}

.page_tab {
    padding-top: 3em;
}

#lastsearch {
    line-height: 1;
    padding-top: 20px;
    flex: 0 0 80px;
}

.homepl .tl_cnt {
    width: 168.75px;
}

#header_search {
    flex: 1;
    color: #999;
    background: #fff;
    border-radius: 2em;
    text-align: center;
    margin: 0 0.3em;
    height: 28px;
    line-height: 28px;
    display: block;
}

#plc_header {
    border: none;
}

.djcatewrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.djcatelist {
    text-align: center;
    font-size: 24px;
    flex: 0 0 187.5px;
    height: 145px;
}

.djcatelist image {
    width: 80px;
    height: 80px;
    margin-top: 20px;
}

[nz-carousel-content] {
    text-align: center;
    height: 160px;
}

.ant-carousel .slick-slider {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.ant-carousel .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0
}

.ant-carousel .slick-list:focus {
    outline: none
}

.ant-carousel .slick-list.dragging {
    cursor: pointer
}

.ant-carousel .slick-slider .slick-list,
.ant-carousel .slick-slider .slick-track {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.ant-carousel .slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block
}

.ant-carousel .slick-track:after,
.ant-carousel .slick-track:before {
    content: "";
    display: table
}

.ant-carousel .slick-track:after {
    clear: both
}

.slick-loading .ant-carousel .slick-track {
    visibility: hidden
}

.ant-carousel .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none
}

[dir=rtl] .ant-carousel .slick-slide {
    float: right
}

.ant-carousel .slick-slide img {
    display: block
}

.ant-carousel .slick-slide.slick-loading img {
    display: none
}

.ant-carousel .slick-slide.dragging img {
    pointer-events: none
}

.ant-carousel .slick-initialized .slick-slide {
    display: block
}

.ant-carousel .slick-loading .slick-slide {
    visibility: hidden
}

.ant-carousel .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.ant-carousel .slick-arrow.slick-hidden {
    display: none
}

.ant-carousel .slick-next,
.ant-carousel .slick-prev {
    position: absolute;
    display: block;
    height: 36px;
    width: 36px;
    font-size: 20px;
    cursor: pointer;
    top: 50%;
    margin-top: -18px;
    padding: 0;
    border: 0;
    text-align: center;
    border-radius: 50%;
    background-color: #1f2d3d3b;
    color: #fffa;
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:focus,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-prev:hover {
    outline: none
}

.ant-carousel .slick-next:focus:before,
.ant-carousel .slick-next:hover:before,
.ant-carousel .slick-prev:focus:before,
.ant-carousel .slick-prev:hover:before {
    opacity: 1
}

.ant-carousel .slick-next.slick-disabled:before,
.ant-carousel .slick-prev.slick-disabled:before {
    opacity: .25
}

.ant-carousel .slick-prev {
    left: 16px
}

.ant-carousel .slick-prev:before,
.ant-carousel .slick-next:before {
    cursor: pointer;
    border: 2px solid #fff;
    border-width: 2px 0 0 2px;
    transform: rotate(-45deg);
    width: 6px;
    height: 6px;
    display: inline-block;
    content: '';
}

.ant-carousel .slick-next {
    right: 16px
}

.ant-carousel .slick-next:before {
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
}

.ant-carousel .slick-dots {
    position: absolute;
    bottom: 12px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
    height: 3px
}

.ant-carousel .slick-dots li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0 2px;
    padding: 0
}

.ant-carousel .slick-dots li button {
    border: 0;
    cursor: pointer;
    background: #aaa;
    opacity: .3;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    outline: none;
    font-size: 0;
    color: transparent;
    -webkit-transition: all .5s;
    transition: all .5s
}

.ant-carousel .slick-dots li button:focus,
.ant-carousel .slick-dots li button:hover {
    opacity: .75
}

.ant-carousel .slick-dots li.slick-active button {
    background: #BB2C08;
    opacity: 1;
}

.ant-carousel .slick-dots li.slick-active button:focus,
.ant-carousel .slick-dots li.slick-active button:hover {
    opacity: 1
}

.ant-carousel-vertical .slick-dots {
    width: 3px;
    bottom: auto;
    right: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: auto
}

.ant-carousel-vertical .slick-dots li {
    margin: 0 2px;
    vertical-align: baseline
}

.ant-carousel-vertical .slick-dots li button {
    width: 3px;
    height: 16px
}

.ant-carousel-vertical .slick-dots li.slick-active button {
    width: 3px;
    height: 24px
}